@import "tailwindcss";

html {
    scroll-behavior: auto !important;
    /* scroll-padding-top: var(--header-height); */
}

/*
.section {
    scroll-margin-top: 144.04px;
}

.current-section {
    scroll-margin-top: calc(var(--header-height) + 15px);
}

.about-section {
    scroll-margin-top: calc(var(--header-height) + 50px);
}
*/

input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

@media (max-width: 639px) {
    .mobile-scrollbar::-webkit-scrollbar-thumb {
        background: #a11106;
        border-radius: 999px;
    };

    .mobile-scrollbar {
        scrollbar-color: #a11106 transparent;
    }
}